#my-banner{
    padding: 0px;
}
#my-banner .carousel-inner>.item>img{
    width: 100%;
}
.navbar{
    margin-bottom: 0;
}
.new{
    background: #9FCFDD;
    height: 200px;
}
.info{
    background: #E5E5E5;
    height: 200px;
}
